---
import Base from '../layouts/Base.astro';
const ASSET_BASE = import.meta.env.PUBLIC_ASSETS_BASE_URL;

const prusioSvg = `<svg viewBox="0 0 90 15" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="푸르지오"><path d="M51.8054 7.10366C51.8054 3.23883 54.1071 0.519576 57.0722 0.519576C58.8662 0.519576 60.4968 1.44925 61.4728 3.11868H61.5769V0.519576C61.5769 0.519576 59.1828 0.0353426 57.0722 0H56.7427C52.048 0 48.8606 3.18084 48.8606 7.10366C48.8606 10.9396 51.9009 14.0699 55.7035 14.2074V14.1032C53.5295 13.8767 51.8054 10.8224 51.8054 7.10366ZM34.9995 8.83636V0.17387H32.2276V8.83636C32.2276 12.5154 34.7655 14.1516 37.6856 14.2074V14.1032C35.6598 13.9293 34.9995 11.5084 34.9995 8.83636ZM40.8901 8.83636C40.8901 11.5084 40.2298 13.9293 38.2039 14.1032V14.2074C41.1241 14.1516 43.6619 12.5154 43.6619 8.83636V0.17387H40.8901V8.83636ZM67.5738 14.0337H70.3457V0.17387H67.5737L67.5738 14.0337ZM8.07843 0.804552C6.95224 0.271975 5.34303 0.173259 3.29255 0.173259H0V14.0339H2.77186V0.381458H3.29255C5.28291 0.381458 7.27652 1.35744 7.27652 4.15824C7.27652 6.95924 5.28291 8.03912 3.29255 8.03912V8.14332C5.34303 8.14332 6.95224 8.04451 8.07843 7.51203C9.4053 6.88084 10.0484 5.75566 10.0484 4.15824C10.0484 2.56082 9.4053 1.43584 8.07843 0.804552ZM24.2634 6.87373C25.658 6.2983 26.3343 5.2698 26.3343 3.81192C26.3343 2.35302 25.6579 1.32555 24.2635 0.749102C23.0783 0.263852 21.3885 0.173665 19.2317 0.173665H15.9391V14.0332H18.7121V0.380847H19.2317C21.3241 0.380847 23.4196 1.25476 23.4196 3.81192C23.4196 5.65735 22.3257 6.67721 20.93 7.10346C20.4459 7.25051 19.9273 7.3279 19.4046 7.3407L24.2559 14.0332H27.3736L22.491 7.29784C23.1684 7.2108 23.7643 7.07878 24.2634 6.87373ZM82.6463 0.000102398C78.7236 0.000102398 75.5426 3.17992 75.5426 7.10376C75.5426 10.9385 78.584 14.0701 82.3866 14.2075V14.1033C80.2116 13.8768 78.4885 10.8215 78.4885 7.10386C78.4885 3.23791 80.3501 0.208297 82.6463 0.208297C84.9437 0.208297 86.8042 3.23791 86.8042 7.10376C86.8042 10.8226 85.0811 13.8767 82.9061 14.1033V14.2075C86.7087 14.0701 89.75 10.9385 89.75 7.10376C89.75 3.17992 86.5692 0.000102398 82.6463 0.000102398Z" fill="white"/><path d="M57.8694 8.24678C58.7025 8.81785 59.2554 9.76915 59.2554 10.8974C59.2554 12.6676 57.8983 14.102 56.2236 14.102V14.2071C57.4603 14.2051 60.2398 14.0332 61.6815 13.5136V8.14258H57.8694V8.24678Z" fill="white"/></svg>`;

const phoneSvg = `<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M6.0376 1.31617L6.6866 2.47911C7.2723 3.52859 7.0372 4.90533 6.1147 5.82781C6.1147 5.82781 4.99588 6.94682 7.0245 8.97552C9.0525 11.0035 10.1722 9.88532 10.1722 9.88532C11.0947 8.96282 12.4714 8.72772 13.5209 9.31342L14.6838 9.96242C16.2686 10.8468 16.4557 13.0692 15.0628 14.4622C14.2258 15.2992 13.2004 15.9505 12.0669 15.9934C10.1588 16.0658 6.9183 15.5829 3.6677 12.3323C0.417132 9.08172 -0.0657879 5.84123 0.00655207 3.9331C0.049522 2.79961 0.700802 1.77423 1.53781 0.937232C2.93076 -0.455721 5.15317 -0.26856 6.0376 1.31617Z" fill="currentColor"/></svg>`;

const kakaoSvg = `<svg viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M8.5 0C10.0368 0 11.4582 0.304757 12.7642 0.914271C14.0702 1.52378 15.1027 2.35259 15.8616 3.40071C16.6205 4.44882 17 5.59203 17 6.83043C17 8.06878 16.6205 9.21364 15.8616 10.265C15.1027 11.3163 14.0718 12.1467 12.769 12.7562C11.4662 13.3657 10.0431 13.6705 8.5 13.6705C8.01302 13.6705 7.51021 13.635 6.99164 13.5641C4.74013 15.1572 3.54166 15.9635 3.39619 15.9828C3.32664 16.0086 3.26024 16.0054 3.197 15.9731C3.17168 15.9538 3.1527 15.928 3.14006 15.8957C3.12742 15.8635 3.12108 15.8345 3.12108 15.8086V15.77C3.15904 15.5184 3.44679 14.4703 3.98438 12.6256C2.76376 12.0065 1.79455 11.1857 1.07673 10.1634C0.358911 9.1411 0 8.0301 0 6.83043C0 5.59203 0.379464 4.44882 1.13839 3.40071C1.89732 2.35259 2.92978 1.52378 4.23578 0.914271C5.54176 0.304757 6.96317 0 8.5 0ZM4.19309 8.6396V5.66943H4.94251C5.04372 5.66943 5.14965 5.63235 5.26031 5.55818C5.37101 5.484 5.42634 5.38243 5.42634 5.25343C5.42634 5.12443 5.37574 5.01639 5.27456 4.92932C5.17336 4.84225 5.07534 4.79871 4.98047 4.79871H2.51395C2.40643 4.79871 2.30525 4.83096 2.21038 4.89546C2.11551 4.95996 2.06808 5.06639 2.06808 5.21471C2.06808 5.36307 2.11868 5.47596 2.21986 5.55335C2.32106 5.63075 2.43489 5.66943 2.56138 5.66943H3.31081V8.6396C3.31081 8.80085 3.34877 8.93307 3.42466 9.03628C3.50055 9.13946 3.60806 9.19107 3.74719 9.19107C3.88636 9.19107 3.99544 9.13303 4.07448 9.01692C4.15356 8.90082 4.19309 8.77507 4.19309 8.6396ZM8.30077 9.19107C8.53477 9.10078 8.60751 8.87182 8.51898 8.50417C8.49366 8.42032 8.31499 7.91885 7.98297 6.99971C7.65095 6.0806 7.45964 5.55657 7.40904 5.42757C7.23828 5.00832 7.00428 4.79871 6.70704 4.79871C6.38447 4.79871 6.13468 5.00832 5.95758 5.42757C5.90698 5.53721 5.71409 6.07096 5.37889 7.02875C5.04372 7.98657 4.86977 8.47835 4.85713 8.50417C4.81287 8.56221 4.8018 8.66864 4.82393 8.82342C4.84607 8.97825 4.91407 9.08464 5.02789 9.14271C5.15438 9.20075 5.27772 9.20721 5.39787 9.16207C5.51806 9.11689 5.60025 9.04917 5.64451 8.95889L5.87221 8.32035H7.52289C7.59244 8.55253 7.64304 8.7041 7.67466 8.77507C7.70628 8.83957 7.74106 8.90407 7.77902 8.96857C7.81694 9.03307 7.88653 9.09592 7.98773 9.15721C8.08891 9.2185 8.19326 9.22978 8.30077 9.19107ZM10.8527 9.19107C10.9855 9.19107 11.1072 9.14914 11.2179 9.06532C11.3286 8.98146 11.3839 8.86857 11.3839 8.72667C11.3839 8.58478 11.3333 8.47353 11.2321 8.39289C11.1309 8.31228 11.0045 8.27196 10.8527 8.27196H9.79964V5.35018C9.79964 5.21471 9.76014 5.08896 9.68107 4.97285C9.60203 4.85675 9.49294 4.79871 9.35377 4.79871C9.21464 4.79871 9.10713 4.85032 9.03125 4.9535C8.95536 5.05671 8.9174 5.18893 8.9174 5.35018V8.6396C8.9174 8.80085 8.95536 8.93307 9.03125 9.03628C9.10713 9.13946 9.21464 9.19107 9.35377 9.19107C9.36011 9.19107 9.37118 9.18946 9.38701 9.18625C9.4028 9.183 9.41387 9.18139 9.42021 9.18139C9.42651 9.18139 9.43758 9.183 9.45341 9.18625C9.4692 9.18946 9.48027 9.19107 9.4866 9.19107H10.8527ZM14.5904 9.12335C14.6979 9.02014 14.7517 8.90242 14.7517 8.77021C14.7517 8.638 14.7106 8.52028 14.6283 8.4171C14.5904 8.35903 14.192 7.81403 13.433 6.78203C13.7998 6.4015 14.1698 6.02096 14.543 5.64043C14.6378 5.54368 14.6963 5.42918 14.7184 5.29696C14.7406 5.16475 14.7042 5.04057 14.6094 4.9245C14.5019 4.82128 14.3864 4.77935 14.2631 4.79871C14.1398 4.81807 14.0244 4.88257 13.9168 4.99221C13.8979 5.01157 13.8156 5.097 13.6702 5.24857C13.5247 5.40018 13.3366 5.59528 13.1057 5.83393C12.8749 6.07257 12.6709 6.28539 12.4939 6.47246V5.35018C12.4939 5.21471 12.4543 5.08896 12.3753 4.97285C12.2962 4.85675 12.1871 4.79871 12.048 4.79871C11.9088 4.79871 11.8013 4.85032 11.7254 4.9535C11.6495 5.05671 11.6116 5.18893 11.6116 5.35018V8.6396C11.6116 8.80085 11.6495 8.93307 11.7254 9.03628C11.8013 9.13946 11.9088 9.19107 12.048 9.19107C12.1871 9.19107 12.2962 9.13303 12.3753 9.01692C12.4543 8.90082 12.4939 8.77507 12.4939 8.6396V7.75921C12.5192 7.73339 12.5666 7.68343 12.6362 7.60925C12.7057 7.53507 12.7626 7.47539 12.8069 7.43025C13.2243 8.01075 13.5975 8.5235 13.9263 8.96857C14.0149 9.0911 14.1177 9.1701 14.2347 9.2056C14.3517 9.24107 14.4702 9.21364 14.5904 9.12335ZM6.12834 7.4496L6.70704 5.71782L7.27621 7.4496H6.12834Z" fill="currentColor"/></svg>`;

// Large PRUGIO wordmark for Band 2 (dark-teal fill #084F51, original full-size viewBox, 2 paths)
const prusioLargeLogo = `<svg viewBox="0 0 361 58" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="PRUGIO"><path d="M207.952 28.5148C207.952 13.001 217.191 2.08563 229.093 2.08563C236.294 2.08563 242.84 5.81743 246.757 12.5187H247.175V2.08563C247.175 2.08563 237.565 0.141869 229.093 0H227.77C208.925 0 196.131 12.7682 196.131 28.5148C196.131 43.9124 208.335 56.4779 223.599 57.0299V56.6116C214.873 55.7025 207.952 43.4419 207.952 28.5148ZM140.491 35.47V0.69793H129.365V35.47C129.365 50.2382 139.552 56.8057 151.273 57.0299V56.6116C143.142 55.9137 140.491 46.1957 140.491 35.47ZM164.137 35.47C164.137 46.1957 161.486 55.9137 153.354 56.6116V57.0299C165.076 56.8057 175.263 50.2382 175.263 35.47V0.69793H164.137V35.47ZM271.248 56.3324H282.374V0.69793H271.247L271.248 56.3324ZM32.4276 3.22955C27.9069 1.09173 21.4474 0.695479 13.2166 0.695479H0V56.3332H11.1265V1.53121H13.2166C21.2061 1.53121 29.2086 5.44889 29.2086 16.6916C29.2086 27.9351 21.2061 32.2698 13.2166 32.2698V32.6881C21.4474 32.6881 27.9069 32.2914 32.4276 30.154C37.7537 27.6203 40.3351 23.1038 40.3351 16.6916C40.3351 10.2794 37.7537 5.76361 32.4276 3.22955ZM97.3956 27.5918C102.994 25.2819 105.708 21.1535 105.708 15.3014C105.708 9.44526 102.993 5.32089 97.396 3.00696C92.6385 1.05913 85.8553 0.697109 77.1977 0.697109H63.9811V56.3308H75.1121V1.52876H77.1977C85.5969 1.52876 94.0087 5.03674 94.0087 15.3014C94.0087 22.7092 89.6173 26.803 84.0151 28.5139C82.0718 29.1042 79.9902 29.4149 77.8919 29.4662L97.3654 56.3308H109.88L90.281 29.2942C93.0001 28.9448 95.3919 28.4149 97.3654 29.4662L97.3654 56.3308H109.88L90.281 29.2942C93.0001 28.9448 95.3919 28.4149 97.3956 27.5918ZM331.75 0.000411034C316.004 0.000411034 303.235 12.7645 303.235 28.5152C303.235 43.9083 315.443 56.4788 330.707 57.0303V56.6121C321.977 55.703 315.06 43.4387 315.06 28.5156C315.06 12.9973 322.533 0.836125 331.75 0.836125C340.972 0.836125 348.44 12.9973 348.44 28.5152C348.44 43.4427 341.524 55.7026 332.793 56.6121V57.0303C348.057 56.4788 360.265 43.9083 360.265 28.5152C360.265 12.7645 347.497 0.000411034 331.75 0.000411034Z" fill="#084F51"/><path d="M232.292 33.1036C235.636 35.3959 237.855 39.2145 237.855 43.7433C237.855 50.8494 232.408 56.6069 225.686 56.6069V57.0288C230.65 57.0206 241.807 56.3309 247.594 54.2452V32.6853H232.292V33.1036Z" fill="#084F51"/></svg>`;

// Gift-box icon (section03 Benefits card 2). White stroke line-art.
const giftIcon = `<svg viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M80.4004 56.4751V38.4751" stroke="white" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M88.8002 44.475L81.0002 36.075L73.2002 44.475" stroke="white" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 92.475L16.92 75.4649C23.22 66.1499 33.72 60.075 45.48 60.075H73.2C73.2 68.985 65.64 76.275 56.4 76.275H48" stroke="white" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M56.2958 76.6903H89.2698L94.2159 70.0442C98.7498 63.8134 106.169 60.075 114 60.075L102.872 80.0134C97.1011 90.8134 85.5602 97.4596 73.6072 97.4596C54.235 97.4596 35.275 103.275 19.2002 114.075" stroke="white" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M100.8 63.6751V13.8938C100.8 11.3625 99.1498 9.67505 96.6748 9.67505H76.0498V22.3313H59.5498V9.67505H38.9248C36.4498 9.67505 34.7998 11.3625 34.7998 13.8938V60.3001" stroke="white" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M60 9.67505H75.6" stroke="white" stroke-width="6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>`;

// Laurel wreath (section03 Benefits headline flanker). Left-facing — mirror horizontally via transform: scaleX(-1) for the right side.
const laurelWreath = `<svg viewBox="0 0 64 158" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M28.3323 117.443C26.5968 122.399 27.6092 126.627 28.3323 128.121C28.3323 129.263 28.6794 131.258 30.0678 130.098C31.8033 128.648 33.3218 125.221 34.298 119.288C35.079 114.542 34.1895 111.159 33.6472 110.06C32.5987 110.456 30.0678 112.486 28.3323 117.443Z" fill="white"/><path d="M34.5126 113.926C34.5706 114.37 34.6073 114.536 34.5732 114.994L34.5998 115.175C34.4562 118.109 34.3285 119.864 33.6541 122.747L33.5956 122.918C33.3627 122.83 33.2947 122.802 33.0476 122.764L32.8657 122.74C31.0912 122.469 29.7199 120.25 30.0544 118.113C30.1805 117.334 30.4899 116.616 30.9451 116.047C32.7221 113.795 33.7933 115.442 34.4645 114.874L34.5126 113.926Z" fill="white"/><path d="M27.8689 125.901C28.8603 126.577 30.061 128.802 31.0001 129.234L30.7344 129.481L30.2698 130.047C29.9728 129.922 29.9434 129.959 29.6224 129.989C29.3408 129.778 29.3085 129.675 29.0869 129.369C29.1242 128.226 28.3452 127.823 27.7119 126.472C27.785 126.289 27.8201 126.099 27.8689 125.901Z" fill="white"/><path d="M4.55566 110.56L4.66919 110.478C7.99496 108.138 13.431 110.048 16.6774 111.873C17.4311 112.297 18.6948 113.486 19.4406 113.666C19.9832 114.407 20.2989 114.782 20.9106 115.44C21.2531 116.078 21.5893 116.719 21.919 117.368L21.5533 117.919C15.5904 121.927 6.79728 118.614 4.55566 110.56Z" fill="white"/><path d="M11.5361 126.999C15.4468 123.244 22.7305 124.787 26.8353 127.337C27.6864 128.054 28.3458 128.474 29.0868 129.369C29.3083 129.675 29.3407 129.778 29.6222 129.989C29.618 130.487 29.6441 130.517 29.461 130.978C29.3333 131.104 29.2031 131.225 29.0705 131.344C24.6301 135.286 16.3042 133.429 12.6505 128.74C12.2433 128.217 11.8781 127.587 11.5361 126.999Z" fill="white"/><path d="M0.996094 92.1068C5.81844 90.9436 10.4682 95.0407 13.7358 98.9349C14.2746 99.7072 14.6837 100.486 15.1502 101.166C15.3545 101.73 15.572 102.388 15.824 102.915L15.3518 103.573C14.4609 103.95 13.5318 104.179 12.5902 104.254C9.61692 104.427 6.70782 103.163 4.49972 100.736C2.35762 98.39 1.13035 95.6046 0.996094 92.1068Z" fill="white"/><path d="M20.5889 113.126C20.6382 108.128 21.4626 104.534 24.4513 100.738C25.1583 99.8407 26.7899 98.3969 27.7935 98.1531C28.0577 98.2552 28.189 98.3724 28.3051 98.7088C30.3167 104.533 26.5856 114.108 22.5229 117.155L21.9192 117.368C21.5895 116.719 21.2533 116.078 20.9108 115.441C20.8463 114.75 20.692 113.832 20.5889 113.126Z" fill="white"/><path d="M21.7041 140.813C24.6147 137.304 29.2042 137.462 32.9859 138.141C33.8347 138.292 35.2017 139.042 35.9257 139.053C36.4326 139.431 37.073 139.935 37.6152 140.199C38.1016 140.688 38.6507 141.207 39.0881 141.752L39.0434 142.281C35.9533 147.351 25.0228 145.396 21.7041 140.813Z" fill="white"/><path d="M1.14143 80.4596C1.01771 80.0932 0.900821 79.7227 0.790657 79.3495C-1.15061 72.6895 0.561251 71.5561 5.06487 75.596L5.39301 75.9497C6.64438 77.1688 7.74367 78.648 8.71542 80.2021C8.98158 80.6284 10.1536 82.8405 10.3914 82.9412L10.4575 82.7942L10.581 83.3063C10.7546 84.035 11.0933 85.0457 11.4086 85.7022C11.474 86.2143 11.6361 87.2849 11.6303 87.7575C11.3994 88.0708 11.4404 87.9401 11.3411 88.3065L11.1921 88.0586C9.28719 88.3923 7.99235 88.2057 6.27331 87.0888C4.32107 86.0795 2.60943 83.7653 1.6156 81.5193L1.23893 80.6421L1.14143 80.4596Z" fill="white"/><path d="M1.14143 80.4596C1.01771 80.0932 0.900821 79.7227 0.790657 79.3495C-1.15061 72.6895 0.561252 71.5561 5.06487 75.596C3.83569 77.1824 2.44984 78.9776 1.14143 80.4596Z" fill="white"/><path d="M1.61621 81.5193C2.38142 81.9483 5.81466 86.1994 6.27392 87.0888C4.32168 86.0795 2.61004 83.7653 1.61621 81.5193Z" fill="white"/><path d="M5.06504 75.5959L5.39318 75.9497C4.04498 76.835 2.48935 79.7036 1.2391 80.642L1.1416 80.4595C2.45001 78.9776 3.83586 77.1824 5.06504 75.5959Z" fill="white"/><path d="M15.2179 96.7622C15.5699 93.4306 17.4825 89.5541 19.6495 87.4879C20.2954 86.8708 22.7983 84.9939 23.1999 86.247C24.863 91.4324 21.8582 97.9581 18.6555 101.309C18.0127 101.982 16.9245 102.495 16.4453 103.093C16.2362 103.059 16.0302 102.98 15.8244 102.915C15.5724 102.388 15.355 101.73 15.1507 101.166C15.1045 100.072 15.0904 99.5626 14.8896 98.5057L15.1139 98.2142C15.0777 97.5481 15.1107 97.4324 15.2179 96.7622Z" fill="white"/><path d="M15.2177 96.7622C15.2259 96.9706 15.2361 97.228 15.2483 97.5345C16.0112 98.9688 17.4667 100.289 18.301 101.648L18.4202 101.84C17.2429 100.985 16.0997 99.4319 15.1137 98.2142C15.0775 97.5481 15.1105 97.4323 15.2177 96.7622Z" fill="white"/><path d="M2.6211 54.4055C3.0269 54.5318 3.41982 54.7127 3.79256 54.945C6.80846 56.8525 8.84622 63.3026 9.74759 67.0106C9.85148 67.5182 10.1677 68.9237 10.2202 69.3872C10.1179 69.5672 9.96949 69.8512 9.8535 70.0033L10.0181 70.0906L10.1506 70.0902C10.2085 70.6285 10.2205 70.9498 10.2315 71.4946C9.97711 71.9106 10.1356 71.7611 9.73549 71.9546L8.65996 71.8206L8.41105 71.7865L8.25516 71.7081C7.44781 71.2961 6.88467 70.992 6.17348 70.3603C2.4289 67.034 0.825861 59.546 2.6211 54.4055Z" fill="white"/><path d="M10.0174 70.0907L10.1498 70.0903C10.2078 70.6286 10.2197 70.9499 10.2307 71.4948C9.97633 71.9107 10.1348 71.7612 9.73471 71.9547L8.65918 71.8207C8.73034 71.6954 9.76374 70.4494 10.0174 70.0907Z" fill="white"/><path d="M9.85358 70.0034L10.0182 70.0907C9.7646 70.4494 8.7312 71.6954 8.66004 71.8207L8.41113 71.7867C8.75631 71.2011 9.39656 70.4618 9.85358 70.0034Z" fill="white"/><path d="M39.2342 122.036C39.4363 122.314 39.6782 122.695 39.8753 122.989C41.4304 127.533 42.198 137.261 39.6752 141.404L39.0879 141.752C38.6505 141.207 38.1015 140.688 37.615 140.199C37.4802 139.788 36.8851 138.601 36.67 138.142C35.5425 135.118 35.0381 130.053 36.3778 127.06C36.9503 124.949 37.8228 123.433 39.2342 122.036Z" fill="white"/><path d="M39.2344 122.036C39.4364 122.314 39.6784 122.695 39.8755 122.989C39.0311 124.023 37.3071 126.198 36.3779 127.06C36.9505 124.949 37.8229 123.433 39.2344 122.036Z" fill="white"/><path d="M11.5877 83.0298C12.3899 78.3443 15.5431 72.6472 19.9934 72.7232C20.1555 72.726 20.2146 72.8791 20.3216 73.0197C20.8432 75.1979 19.7775 78.9981 18.8813 80.8914C17.4035 84.0133 15.2696 86.7933 12.3307 87.7372L11.631 87.7576C11.6367 87.285 11.4746 86.2144 11.4092 85.7022C11.4287 84.8605 11.5223 83.8825 11.5877 83.0298Z" fill="white"/><path d="M8.86304 37.2717C11.6844 38.8579 11.9337 44.5199 12.2026 47.8233C12.265 48.5902 12.1981 50.1771 12.4756 50.7523C12.2994 51.6413 12.1695 52.4244 12.1945 53.3408C11.9825 54.3151 11.8929 54.7158 11.5581 55.6328L11.2641 55.9511C10.8033 55.6005 10.359 55.4347 9.79186 54.957C8.17033 53.5914 7.19398 51.0735 6.86304 48.7675C6.2628 44.765 6.98117 40.6363 8.86304 37.2717Z" fill="white"/><path d="M10.6861 66.4422L10.8082 66.8074C10.951 66.7362 11.893 64.619 12.18 64.1247C14.0468 60.9085 17.0653 58.3466 20.4332 59.3987C19.7639 64.8044 16.1788 70.26 11.7704 71.6781C10.4093 72.1158 10.6139 71.7926 10.6229 73.6422C10.5072 72.7666 10.5913 72.17 10.2315 71.4946C10.2205 70.9498 10.2086 70.6284 10.1506 70.0902L10.0181 70.0906L9.85352 70.0032C9.96951 69.8511 10.1179 69.5671 10.2202 69.3872L10.2988 69.4122L10.2757 69.2115C10.4632 68.2037 10.5259 67.3347 10.6861 66.4422Z" fill="white"/><path d="M10.2754 69.2116C10.9243 68.5436 11.5553 67.8503 12.1676 67.1331L12.2461 67.1576C11.6656 68.2498 11.2829 68.6172 10.4855 69.4412L10.2985 69.4124L10.2754 69.2116Z" fill="white"/><path d="M17.8696 60.1118L17.9792 60.2872C17.7923 60.9348 13.5628 65.6715 12.842 66.7225L12.6729 66.557C12.9738 65.8043 17.0269 61.34 17.8696 60.1118Z" fill="white"/><path d="M50.5097 150.771C48.733 154.111 42.7227 154.225 39.8753 153.796C29.473 152.23 36.4031 148.042 42.0654 148.001C43.5289 147.99 44.8923 148.314 46.3329 148.596C46.8243 148.934 47.7401 149.094 48.3047 149.15C49.0206 149.63 49.4674 149.98 50.257 150.235C50.4483 150.473 50.453 150.45 50.5097 150.771Z" fill="white"/><path d="M16.1328 40.6417C10.8134 36.2125 16.4221 23.0382 18.7161 23.2598C20.7692 25.0905 18.8378 33.7023 18.2043 36.261C17.9627 36.7367 17.8582 37.648 17.7607 38.2303C17.3223 39.0705 17.0031 39.6566 16.6632 40.5628L16.1328 40.6417Z" fill="white"/><path d="M13.2549 51.3032C15.22 48.332 19.5551 43.9791 22.8842 46.2071C23.8785 47.9138 19.4921 53.0206 18.2807 53.8808C16.0104 55.4931 14.6346 56.3914 11.9643 56.1388C11.7941 55.959 11.7106 55.8354 11.5586 55.6326C11.8935 54.7156 11.983 54.3149 12.195 53.3406C12.5445 52.6586 12.8978 51.9793 13.2549 51.3032Z" fill="white"/><path d="M46.6829 147.633C46.6088 147.06 45.7501 145.875 45.4729 145.225C43.8781 141.49 43.6539 136.923 45.9 133.519C47.5953 136.032 51.6667 147.363 50.634 150.173L50.2573 150.235C49.4676 149.98 49.0208 149.63 48.3049 149.15C47.8924 148.652 47.1793 148.136 46.6829 147.633Z" fill="white"/><path d="M19.1056 36.4024L19.266 36.4801C21.5569 34.5742 24.0801 32.6469 27.0666 33.1079C27.6267 33.1944 28.2291 33.4546 28.5733 34.0264C28.6482 34.5836 28.4852 34.9474 28.2089 35.3835C26.1091 38.7 20.2968 43.2441 16.7393 41.1089L16.6631 40.5628C17.003 39.6566 17.3222 39.0705 17.7606 38.2303C18.2818 37.7218 18.6927 37.0447 19.1056 36.4024Z" fill="white"/><path d="M23.9324 27.6803C21.4738 23.6693 24.7323 17.3837 27.2556 14.5871C27.5482 14.2628 29.9985 11.3933 30.2801 12.7675C31.0141 16.3503 28.241 20.3534 27.1503 23.446C27.1463 23.5061 27.1423 23.566 27.1383 23.6261C26.7292 24.2397 26.2658 24.7814 25.9628 25.4615C25.551 26.1764 24.8184 27.1402 24.2008 27.586L23.9324 27.6803Z" fill="white"/><path d="M27.3686 24.5403C28.8905 23.5598 34.7299 20.1066 36.6172 23.0025C36.721 23.1618 36.5709 23.3159 36.528 23.465C35.0567 25.8258 31.4967 27.9927 29.2071 28.6476C27.2748 29.2005 25.9957 29.1811 24.3302 28.1389L24.2012 27.586C24.8188 27.1402 25.5514 26.1764 25.9632 25.4614C26.3694 25.2291 27.0837 24.8895 27.3686 24.5403Z" fill="white"/><path d="M33.9248 16.8556C32.8078 13.5541 35.7605 9.64314 37.7014 7.69429C38.6438 6.74806 41.1774 4.60919 42.3665 4.53687C42.7203 4.73859 42.599 4.58182 42.7437 5.02204C42.5883 7.53329 39.0783 11.6969 37.6774 13.4892C37.2764 13.8216 36.5302 14.7682 36.2501 15.2477C35.4877 15.85 35.0425 16.2316 34.3424 16.9301L33.9248 16.8556Z" fill="white"/><path d="M38.0789 14.0395C38.5714 14.06 39.4563 13.7514 39.9278 13.5318C40.9939 13.0354 46.092 11.3892 46.5369 13.5147C45.9567 14.8968 41.8611 17.0384 40.5669 17.5277C38.6916 18.2368 35.8837 19.0056 34.2422 17.3373L34.3423 16.9299C35.0424 16.2315 35.4876 15.8498 36.25 15.2475C37.1348 14.9247 37.3175 14.4078 38.0789 14.0395Z" fill="white"/><path d="M58.2546 152.628L59.0989 152.949C60.3823 153.426 62.2645 153.027 63.5907 152.833C59.8188 156.565 53.8612 158.859 49.0312 157.696C50.7921 154.206 55.9149 153.922 58.9755 153.441C58.5378 153.397 57.3907 153.313 57.0143 153.185C57.4521 153.17 57.7631 153.212 58.1506 152.974L58.2546 152.628Z" fill="white"/><path d="M37.6773 13.4892C37.8507 13.4795 44.6247 8.71346 44.9561 8.38861C49.6847 3.75524 55.222 1.35908 61.1445 0C57.2161 2.80737 53.1316 5.27899 48.9207 7.39688C47.8492 7.94348 45.9534 8.41667 45.2455 8.85144C42.9001 10.2916 40.3109 12.3097 38.0789 14.0396C37.3175 14.4079 37.1348 14.9248 36.25 15.2476C36.5301 14.7682 37.2762 13.8215 37.6773 13.4892Z" fill="white"/><path d="M58.2551 152.628C55.4695 151.737 53.0303 148.419 53.3862 144.835C53.4006 144.691 53.467 144.543 53.5185 144.413L53.7293 144.323C54.5962 144.839 55.9825 146.804 56.7359 147.696C58.3637 149.624 59.8756 151.085 62.0709 151.955C62.5281 152.137 63.1957 152.389 63.5868 152.744L63.5913 152.833C62.265 153.027 60.3828 153.426 59.0994 152.949L58.2551 152.628Z" fill="white"/><path d="M21.9194 117.368L22.523 117.155C24.1514 120.371 25.9143 123.399 27.7126 126.472C28.3459 127.823 29.1249 128.226 29.0876 129.369C28.3466 128.474 27.6873 128.055 26.8361 127.337C26.816 127.235 22.1687 119.227 21.5537 117.919L21.9194 117.368Z" fill="white"/><path d="M15.8247 102.915C16.0304 102.98 16.2364 103.059 16.4456 103.093C17.1293 104.906 19.6684 111.684 20.5891 113.126C20.6922 113.832 20.8465 114.75 20.9111 115.44C20.2994 114.783 19.9837 114.407 19.4411 113.666C17.8637 110.162 16.7021 107.201 15.3525 103.573L15.8247 102.915Z" fill="white"/><path d="M11.6301 87.7575L12.3298 87.7371C12.6472 90.8957 14.1242 95.3878 14.8889 98.5056C15.0897 99.5626 15.1038 100.072 15.1499 101.166C14.6834 100.486 14.2743 99.707 13.7355 98.9347C13.7547 98.3367 12.4475 93.6103 12.199 92.5615C11.8613 91.1586 11.5748 89.7393 11.3408 88.3064C11.4401 87.94 11.3991 88.0708 11.6301 87.7575Z" fill="white"/><path d="M29.6222 129.989C29.9433 129.959 29.9726 129.922 30.2696 130.047C31.1006 131.279 35.787 137.791 36.6699 138.142C36.885 138.601 37.4801 139.787 37.6149 140.199C37.0727 139.935 36.4323 139.431 35.9254 139.053C33.6252 136.431 31.5025 133.924 29.4609 130.978C29.6441 130.517 29.6179 130.487 29.6222 129.989Z" fill="white"/><path d="M10.2314 71.4946C10.5911 72.1701 10.5071 72.7667 10.6227 73.6422C10.7143 75.2471 11.1169 81.9278 11.5874 83.0298C11.522 83.8824 11.4284 84.8604 11.4089 85.7021C11.0936 85.0456 10.755 84.035 10.5814 83.3063L10.4579 82.7941C10.024 79.2037 9.78264 75.583 9.73535 71.9546C10.1354 71.7611 9.97697 71.9106 10.2314 71.4946Z" fill="white"/><path d="M11.558 55.6328C11.71 55.8356 11.7935 55.9593 11.9637 56.1391C11.6965 58.0479 11.4183 59.9468 11.1709 61.8604C10.9795 63.3422 10.8972 64.9871 10.6855 66.4425C10.5254 67.3349 10.4626 68.2039 10.2751 69.2117L10.2982 69.4125L10.2197 69.3874C10.1672 68.9239 9.85096 67.5184 9.74707 67.0108C9.92963 66.3884 9.95216 65.7962 10.0071 65.1447C10.2707 62.0181 10.4874 58.9706 11.264 55.9511L11.558 55.6328Z" fill="white"/><path d="M39.0887 141.752L39.6759 141.404C40.8408 143.091 45.0735 146.429 46.683 147.633C47.1794 148.136 47.8925 148.652 48.305 149.15C47.7404 149.095 46.8247 148.934 46.3333 148.596C46.18 148.155 44.2966 146.896 43.8058 146.513C42.1479 145.225 40.5576 143.811 39.0439 142.281L39.0887 141.752Z" fill="white"/><path d="M16.1327 40.6416L16.6631 40.5627L16.7394 41.1088C16.0519 43.0045 13.2377 49.5492 13.2543 51.3032C12.8973 51.9794 12.5439 52.6586 12.1945 53.3406C12.1695 52.4242 12.2994 51.6412 12.4756 50.7521C13.2873 47.4153 14.7969 43.7057 16.1327 40.6416Z" fill="white"/><path d="M23.9327 27.6802L24.2011 27.5859L24.3301 28.1388C22.521 31.0457 20.821 33.1967 19.1058 36.4024C18.6928 37.0447 18.282 37.7218 17.7607 38.2303C17.8582 37.648 17.9628 36.7368 18.2043 36.261C18.7329 35.6772 19.8271 33.6589 20.3228 32.8647C21.5155 30.9537 22.5156 29.3806 23.9327 27.6802Z" fill="white"/><path d="M27.1394 23.6259C29.252 21.3823 31.6122 18.7501 33.9253 16.8555L34.3428 16.93L34.2428 17.3374C32.9877 18.5168 28.2392 23.0521 27.3692 24.5402C27.0843 24.8894 26.37 25.229 25.9639 25.4613C26.2668 24.7812 26.7302 24.2395 27.1394 23.6259Z" fill="white"/><path d="M50.6335 150.173C54.0653 152.011 54.7949 151.96 58.1508 152.974C57.7634 153.212 57.4524 153.17 57.0145 153.185C55.7779 153.041 51.2892 151.648 50.5096 150.771C50.4528 150.45 50.4481 150.473 50.2568 150.235L50.6335 150.173Z" fill="white"/></svg>`;

// Daewoo Construction logo (Band 2 + later footer uses). Preserves internal brand colors + gradients.
const daewooLogo = `<svg viewBox="0 0 53 12" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="대우건설"><g clip-path="url(#clipDW)"><mask id="maskDW0" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-237" y="-76" width="552" height="364"><path d="M-236.096 -75.503H314.506V287.127H-236.096V-75.503Z" fill="white"/></mask><g mask="url(#maskDW0)"><path d="M29.2092 3.90187C30.3885 3.90187 31.2228 4.45364 31.2228 5.04676C31.2228 5.64074 30.3885 6.19165 29.2092 6.19165C28.0303 6.19165 27.196 5.64074 27.196 5.04676C27.196 4.45364 28.0303 3.90187 29.2092 3.90187ZM29.2092 7.07422C30.9726 7.07422 32.7453 6.36136 32.7453 5.04676C32.7453 3.7313 30.9726 3.01973 29.2092 3.01973C27.4453 3.01973 25.6731 3.7313 25.6731 5.04676C25.6731 6.36136 27.4453 7.07422 29.2092 7.07422Z" fill="#214975"/><path d="M24.5701 8.44384H28.4919V10.6914H29.9209V8.44384H33.8201V7.48072H24.5701V8.44384Z" fill="#214975"/><path d="M51.5426 6.83203H52.9823V3.29873H51.5426V4.44878H49.9087V5.36926H51.5426V6.83203Z" fill="#214975"/><path d="M47.1247 5.16217C47.6612 5.96247 48.8003 6.49615 49.7858 6.73047L50.1877 5.869C48.6504 5.35557 48.0594 4.53804 47.8762 3.29753H46.3616C46.178 4.53804 45.5981 5.35557 44.0608 5.869L44.4636 6.73047C45.4482 6.49615 46.5882 6.0288 47.1247 5.16217Z" fill="#214975"/><path d="M47.1464 9.82104V9.28047H52.9944V7.1548H45.7012V8.02488H51.5497V8.48275H45.7012V9.81328C45.7012 10.2905 46.1211 10.6816 46.6386 10.6816H52.9995V9.82104H47.1464Z" fill="#214975"/><path d="M41.5624 9.32031H43.0123V3.30814H41.5624V4.88075H39.9373V5.95456H41.5624V9.32031Z" fill="#214975"/><path d="M37.1829 9.72501V7.75096H35.7358V9.8146C35.7358 10.2927 36.1548 10.6855 36.671 10.6855H43.0259V9.72501H37.1829Z" fill="#214975"/><path d="M34.9292 3.45154V4.42112H37.9996C37.7674 5.64311 35.8879 6.40809 34.2554 6.6493L34.6998 7.5C36.6283 7.24285 38.1462 6.58986 38.9606 5.67154C39.5387 5.0207 39.7658 4.39097 39.7528 3.45154H34.9292Z" fill="#214975"/><path d="M15.1167 8.21C15.1167 8.68725 15.5542 9.08008 16.0713 9.08008H19.6901V8.11954H16.5804V4.43505H19.3627V3.44695H15.1167V8.21Z" fill="#214975"/><path d="M20.1309 10.6914H21.5026V6.57661H22.237V10.6914H23.6082V3.3039H22.237V5.51356H21.5026V3.3039H20.1309V10.6914Z" fill="#214975"/></g><mask id="maskDW1" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="10" height="4"><path d="M0.486821 0.680904C0.192686 0.799356 0.223205 0.997941 0.308763 1.12888C0.447969 1.33736 0.586718 1.40756 0.586718 1.40756C3.2196 0.59907 5.29611 1.16592 6.75014 1.83829C8.32672 2.56709 9.5014 3.90625 9.5014 3.90625C9.61425 3.38592 9.6716 2.15013 9.14114 1.44718C9.14114 1.44718 8.65556 1.16721 7.86842 0.795055C6.93098 0.352261 5.57129 -8.17776e-05 4.04373 -8.17776e-05C2.82047 -0.00297046 1.60967 0.22884 0.486821 0.680904Z" fill="white"/></mask><g mask="url(#maskDW1)"><path d="M0.486821 0.680904C0.192686 0.799356 0.223205 0.997941 0.308763 1.12888C0.447969 1.33736 0.586718 1.40756 0.586718 1.40756C3.2196 0.59907 5.29611 1.16592 6.75014 1.83829C8.32672 2.56709 9.5014 3.90625 9.5014 3.90625C9.61425 3.38592 9.6716 2.15013 9.14114 1.44718C9.14114 1.44718 8.65556 1.16721 7.86842 0.795055C6.93098 0.352261 5.57129 -8.17776e-05 4.04373 -8.17776e-05C2.82047 -0.00297046 1.60967 0.22884 0.486821 0.680904Z" fill="url(#paintDW0)"/></g><mask id="maskDW2" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="5" height="12"><path d="M2.86507e-05 1.42367C-0.00783345 2.14558 1.60482 2.36051 1.84392 5.14477C1.93226 6.18025 1.56042 7.37166 1.34306 7.91525C1.12754 8.45065 0.813077 9.40947 0.859325 10.2434C0.909273 11.1647 1.88232 11.5679 2.94047 11.4068C4.47635 11.1738 4.29922 10.9093 4.29922 10.9093C4.51982 10.1999 4.76954 6.97281 4.14103 5.34636C3.667 4.12092 2.94693 2.93168 0.685417 1.45901C0.116108 1.08729 0.246533 0.823248 0.449097 0.696181C0.449097 0.696181 0.0069658 0.868029 2.86507e-05 1.42367Z" fill="white"/></mask><g mask="url(#maskDW2)"><path d="M2.86507e-05 1.42367C-0.00783345 2.14558 1.60482 2.36051 1.84392 5.14477C1.93226 6.18025 1.56042 7.37166 1.34306 7.91525C1.12754 8.45065 0.813077 9.40947 0.859325 10.2434C0.909273 11.1647 1.88232 11.5679 2.94047 11.4068C4.47635 11.1738 4.29922 10.9093 4.29922 10.9093C4.51982 10.1999 4.76954 6.97281 4.14103 5.34636C3.667 4.12092 2.94693 2.93168 0.685417 1.45901C0.116108 1.08729 0.246533 0.823248 0.449097 0.696181C0.449097 0.696181 0.0069658 0.868029 2.86507e-05 1.42367Z" fill="url(#paintDW1)"/></g><mask id="maskDW3" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="0" width="11" height="12"><path d="M9.19268 5.22006C8.51977 7.20962 6.5154 9.34605 4.99293 10.3475C2.6639 11.8818 1.33521 11.1172 1.33521 11.1172C2.53071 11.952 4.42684 12.5705 7.24333 11.1698C10.396 9.60234 11.9948 6.74829 11.5356 4.4331C11.3473 3.48635 10.3318 1.86507 8.28715 0.998438C8.28715 0.998438 10.2823 1.99603 9.19268 5.22006Z" fill="white"/></mask><g mask="url(#maskDW3)"><path d="M9.19268 5.22006C8.51977 7.20962 6.5154 9.34605 4.99293 10.3475C2.6639 11.8818 1.33521 11.1172 1.33521 11.1172C2.53071 11.952 4.42684 12.5705 7.24333 11.1698C10.396 9.60234 11.9948 6.74829 11.5356 4.4331C11.3473 3.48635 10.3318 1.86507 8.28715 0.998438C8.28715 0.998438 10.2823 1.99603 9.19268 5.22006Z" fill="url(#paintDW2)"/></g></g><defs><linearGradient id="paintDW0" x1="3.57847" y1="2.79883" x2="6.92366" y2="1.41147" gradientUnits="userSpaceOnUse"><stop stop-color="#69B3E3"/><stop offset="1" stop-color="#214975"/></linearGradient><linearGradient id="paintDW1" x1="2.40676" y1="8.34427" x2="2.28125" y2="4.5182" gradientUnits="userSpaceOnUse"><stop stop-color="#69B3E3"/><stop offset="1" stop-color="#214975"/></linearGradient><linearGradient id="paintDW2" x1="8.29177" y1="4.7105" x2="6.77908" y2="8.69822" gradientUnits="userSpaceOnUse"><stop stop-color="#69B3E3"/><stop offset="1" stop-color="#214975"/></linearGradient><clipPath id="clipDW"><rect width="53" height="12" fill="white"/></clipPath></defs></svg>`;
---
<Base>
  <!-- section01: Header (fixed, z-50) -->
  <header class="fixed top-0 left-0 right-0 z-50">
    <!-- Mobile (base): 100px tall, two rows -->
    <div class="flex flex-col md:hidden">
      <!-- Top row: PRUGIO + THE FIRST, 60px, centered -->
      <div class="bg-[#003e3e] h-[60px] flex items-center justify-center px-[20px]">
        <div class="flex items-center gap-[12px]">
          <span class="block w-[89.75px] h-[14.208px] text-white [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={prusioSvg} />
          <span class="text-[#6a696a] text-[12px] font-bold tracking-[1.5px] whitespace-nowrap">THE FIRST</span>
        </div>
      </div>
      <!-- Bottom row: 40px tall, phone 40% / kakao 60% -->
      <div class="flex items-start">
        <a href="tel:1644-9644" class="bg-[#005252] h-[40px] basis-[40%] flex items-center justify-center px-[20px]">
          <span class="flex items-center gap-[12px]">
            <span class="block w-[16px] h-[16px] text-white [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={phoneSvg} />
            <span class="text-white text-[16px] font-bold tracking-[-0.4px] whitespace-nowrap">1644-9644</span>
          </span>
        </a>
        <!-- TODO: replace with real contact URL -->
        <a href="https://google.com" class="bg-[#f2ffff] h-[40px] basis-[60%] flex items-center justify-center px-[20px]">
          <span class="flex items-center gap-[12px]">
            <span class="block w-[17px] h-[16px] text-[#005252] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={kakaoSvg} />
            <span class="text-[#005252] text-[16px] font-bold tracking-[-0.4px] whitespace-nowrap">@firstprusiosuncheon</span>
          </span>
        </a>
      </div>
    </div>
    <!-- Desktop (md+): 60px tall, single row -->
    <div class="hidden md:flex items-start justify-center">
      <!-- Left: PRUGIO + THE FIRST, flex-grows, 60px left padding -->
      <div class="bg-[#003e3e] h-[60px] flex flex-[1_0_0] items-center pl-[60px]">
        <div class="flex items-center gap-[12px]">
          <span class="block w-[89.75px] h-[14.208px] text-white [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={prusioSvg} />
          <span class="text-[#6a696a] text-[12px] font-bold tracking-[1.5px] whitespace-nowrap">THE FIRST</span>
        </div>
      </div>
      <!-- Phone: intrinsic width, 20px horizontal padding -->
      <a href="tel:1644-9644" class="bg-[#005252] h-[60px] flex items-center px-[20px] shrink-0">
        <span class="flex items-center gap-[12px]">
          <span class="block w-[16px] h-[16px] text-white [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={phoneSvg} />
          <span class="text-white text-[16px] font-bold tracking-[-0.4px] whitespace-nowrap">1644-9644</span>
        </span>
      </a>
      <!-- Kakao: intrinsic width, 20px horizontal padding -->
      <!-- TODO: replace with real contact URL -->
      <a href="https://google.com" class="bg-[#f2ffff] h-[60px] flex items-center px-[20px] shrink-0">
        <span class="flex items-center gap-[12px]">
          <span class="block w-[17px] h-[16px] text-[#005252] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={kakaoSvg} />
          <span class="text-[#005252] text-[16px] font-bold tracking-[-0.4px] whitespace-nowrap">@firstprusiosuncheon</span>
        </span>
      </a>
    </div>
  </header>
  <!-- section02: Hero + brand panel + title band -->
  <section class="w-full">
    <!-- BAND 1: Hero photo with overlay -->
    <div class="relative w-full aspect-[390/572] md:aspect-[1440/906] overflow-hidden">
      <img
        src={`${ASSET_BASE}/firstprusiosuncheon/01_overview_prusio01.webp`}
        alt="순천 푸르지오 더 퍼스트 전경"
        width="2880"
        height="1812"
        loading="eager"
        fetchpriority="high"
        class="absolute inset-0 w-full h-full object-cover object-center pointer-events-none"
      />
      <div class="absolute top-[60px] left-[20px] md:top-[120px] md:left-[80px] flex flex-col gap-[20px] md:gap-[40px] items-start tracking-[-0.4px]">
        <div class="flex flex-col gap-[4px] items-start text-white text-[40px] md:text-[60px] leading-[normal]">
          <p style="font-weight: 800;">첫 푸르지오</p>
          <p style="font-weight: 500;">순천의 중심이 되다</p>
        </div>
        <p class="text-[#005252] text-[20px] md:text-[32px] leading-[normal]" style="font-weight: 800;">순천 푸르지오 더 퍼스트</p>
      </div>
    </div>

    <!-- BAND 2: light gray brand panel (daewoo row + centered PRUGIO pack) -->
    <div class="bg-[#ebedeb] flex flex-col gap-[40px] items-center justify-center pt-[40px] pb-[80px] px-[60px]">
      <!-- Daewoo logo (centered) -->
      <span class="block w-[110px] h-[26px] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={daewooLogo} />
      <!-- PRUGIO pack (centered) -->
      <div class="flex flex-col gap-[20px] items-center">
        <span class="block w-[238px] h-[37.676px] md:w-[360.265px] md:h-[57.03px] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" set:html={prusioLargeLogo} />
        <p class="text-[#6a696a] text-[20px] text-center tracking-[1.5px]" style="font-weight: 700;">THE FIRST</p>
      </div>
    </div>

    <!-- BAND 3: teal title band + decorative pattern -->
    <div class="w-full">
      <!-- Text area #005252 -->
      <div class="bg-[#005252] flex flex-col gap-[20px] items-center pt-[100px] pb-[100px] md:pt-[120px] md:pb-[40px] text-center text-white tracking-[-0.4px]">
        <p class="w-full text-[20px] md:text-[32px] leading-[normal]" style="font-weight: 600;"><span style="font-weight: 800;">첫 푸르지오 </span>순천의 중심이 되다</p>
        <p class="w-full text-[40px] md:text-[60px] leading-[normal]" style="font-weight: 800;">순천 푸르지오 더 퍼스트</p>
      </div>
      <!-- Decorative wave pattern (R2-hosted webp) -->
      <img
        src={`${ASSET_BASE}/firstprusiosuncheon/pattern_green.webp`}
        alt=""
        width="1440"
        height="139"
        loading="lazy"
        class="block w-full h-auto bg-[#005252]"
        aria-hidden="true"
      />
    </div>
  </section>
  <!-- section03: Benefits (brown gradient band with laurel-flanked headline + 2 cards) -->
  <section class="w-full overflow-hidden bg-[linear-gradient(to_bottom,#635446_0%,#7b6b5d_25%,#8c7c6e_62.019%)] pt-[120px] pb-[80px]">
    <div class="max-w-[1200px] 2xl:max-w-[1400px] mx-auto flex flex-col items-center gap-[80px]">
      <!-- Headline block (laurel L | text | laurel R) -->
      <div class="flex gap-[12px] items-center justify-center px-[60px] w-full">
        <span class="shrink-0 block w-[32.198px] h-[80px] md:w-[63.591px] md:h-[158px] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" aria-hidden="true" set:html={laurelWreath}></span>

        <!-- Text block: sub-headline + main headline -->
        <div class="shrink-0 flex flex-col gap-[20px] text-center text-white tracking-[-0.4px]">
          <p class="text-[16px] md:text-[32px] leading-[normal]" style="font-weight: 600;"><span style="font-weight: 400;">순천 푸르지오 더 퍼스트의 </span><span style="font-weight: 800;">주인이 될 기회</span></p>
          <!-- Main headline: mobile 2-line / desktop 1-line -->
          <div class="md:hidden text-[32px] leading-[normal]" style="font-weight: 800;">
            <p>다시 찾아오지 않을</p>
            <p>엄청난 혜택 2가지</p>
          </div>
          <p class="hidden md:block text-[60px] leading-[normal]" style="font-weight: 800;">다시 찾아오지 않을 엄청난 혜택 2가지</p>
        </div>

        <span class="shrink-0 block w-[32.198px] h-[80px] md:w-[63.591px] md:h-[158px] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" style="transform: scaleX(-1);" aria-hidden="true" set:html={laurelWreath}></span>
      </div>

      <!-- Divider. TODO: Figma ships a decorative line image; using semi-transparent white approximation until the real asset arrives. -->
      <div class="w-[292px] md:w-[770px] h-px bg-white/40" aria-hidden="true"></div>

      <!-- Cards row: stacked mobile (gap 40), side-by-side md+ (items-stretch + card1 justify-end so text bottoms align) -->
      <div class="flex flex-col md:flex-row gap-[40px] md:gap-0 md:items-stretch md:justify-between px-[20px] md:px-[80px] w-full">
        <!-- Card 1: "1.5억" + benefit text -->
        <div class="flex flex-col items-center gap-[32px] py-[40px] md:flex-1 md:min-w-0 md:justify-end">
          <p class="w-[228px] h-[99px] flex items-center justify-center text-white text-[88px] leading-none tracking-[-0.4px]" style="font-weight: 800;">1.5억</p>
          <div class="w-full text-[#434143] text-[40px] text-center tracking-[-0.4px] leading-[normal]" style="font-weight: 800;">
            <p>아파트 분양 지원 혜택</p>
            <p>최대 1.5억 원</p>
          </div>
        </div>
        <!-- Card 2: icon + benefit text -->
        <div class="flex flex-col items-center gap-[32px] py-[40px] md:flex-1 md:min-w-0">
          <span class="block w-[120px] h-[120px] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" aria-hidden="true" set:html={giftIcon}></span>
          <div class="w-full text-[#434143] text-[40px] text-center tracking-[-0.4px] leading-[normal]" style="font-weight: 800;">
            <p>입주 축하금</p>
            <p>역대급 최대 지원</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section04: Contact block (white title band + teal/mint 2-col) -->
  <section class="w-full">
    <!-- Band 1: White title -->
    <div class="bg-white flex flex-col items-center py-[40px] w-full">
      <div class="h-[54px] flex flex-col justify-center w-full text-[#434143] text-[19px] md:text-[32px] text-center tracking-[-0.4px] leading-[0]" style="font-weight: 700;">
        <p><span class="leading-[16px]" style="font-weight: 800;">순천 푸르지오 더 퍼스트 </span><span class="leading-[16px]" style="font-weight: 500;">분양 관련 문의하기</span></p>
      </div>
    </div>

    <!-- Band 2: Contacts, stacked mobile / 50-50 md+ -->
    <div class="flex flex-col md:flex-row md:items-center w-full">
      <!-- Left: Phone column -->
      <a href="tel:1644-9644" class="bg-[#005252] flex-1 min-w-0 flex flex-col gap-[19px] items-center py-[40px]">
        <p class="w-full text-white text-[16px] md:text-[20px] text-center tracking-[-0.4px] leading-[16px] whitespace-pre-wrap" style="font-weight: 300;">ㅣ   대표전화   ㅣ</p>
        <div class="h-[54px] flex items-center justify-center w-full">
          <p class="text-white text-[60px] text-center tracking-[-0.4px] leading-[16px]" style="font-weight: 700;">1644-9644</p>
        </div>
        <div class="bg-[#f2ffff] flex gap-[8px] items-center px-[20px] py-[12px]">
          <span class="block w-[22px] h-[22px] text-[#005252] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" aria-hidden="true" set:html={phoneSvg}></span>
          <span class="text-[#005252] text-[20px] tracking-[-0.4px] leading-[16px] whitespace-nowrap" style="font-weight: 700;">전화 문의하기</span>
        </div>
      </a>

      <!-- TODO: replace with real kakao URL -->
      <a href="https://google.com" target="_blank" rel="noopener" class="bg-[#f2ffff] flex-1 min-w-0 flex flex-col gap-[19px] items-center py-[40px]">
        <p class="w-full text-[#005252] text-[16px] md:text-[20px] text-center tracking-[-0.4px] leading-[16px] whitespace-pre-wrap" style="font-weight: 300;">ㅣ   카카오톡   ㅣ</p>
        <div class="h-[54px] flex items-center justify-center w-full">
          <p class="text-[#005252] text-[28px] md:text-[40px] text-center tracking-[-0.4px] leading-[16px]" style="font-weight: 700;">@firstprusiosuncheon</p>
        </div>
        <div class="bg-[#005252] flex gap-[8px] items-center px-[20px] py-[12px]">
          <span class="block w-[24px] h-[22px] text-[#f2ffff] [&>svg]:block [&>svg]:w-full [&>svg]:h-full" aria-hidden="true" set:html={kakaoSvg}></span>
          <span class="text-[#f2ffff] text-[20px] tracking-[-0.4px] leading-[16px] whitespace-nowrap" style="font-weight: 700;">카카오톡 문의하기</span>
        </div>
      </a>
    </div>
  </section>
  <!-- section05: Sticky nav menu (docks under the 60/100px fixed header) -->
  <nav aria-label="섹션 메뉴" class="sticky top-[100px] md:top-[60px] z-40 w-full backdrop-blur-[40px] bg-[rgba(255,255,255,0.75)] flex items-center justify-between md:justify-center md:gap-[40px] px-[20px] py-[20px] text-[#005252] text-[16px] text-center tracking-[-0.4px] whitespace-nowrap leading-none">
    <a href="#section06" style="font-weight: 700;">브랜드</a>
    <a href="#section07" style="font-weight: 400;">개요</a>
    <a href="#section08" style="font-weight: 400;">평형정보</a>
    <a href="#section09" style="font-weight: 400;">부대시설</a>
    <a href="#section10" style="font-weight: 400;">문의하기</a>
  </nav>
  <!-- section06: The Brand — to be added -->
  <!-- section07: Overview — to be added -->
  <!-- section08: Type — to be added -->
  <!-- section09: Utility & Infra — to be added -->
  <!-- section10: Footer CTA — to be added -->
  <!-- section11: Footer legal — to be added -->
</Base>
